ContactDBService/Contact.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="ContactDefinitions" targetNamespace="urn:Contact" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:contact="urn:Contact" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">



	<types>
		<schema elementFormDefault="qualified" targetNamespace="urn:Contact"
		xmlns="http://www.w3.org/2001/XMLSchema">


			<!-- create a type that contains the required details for the address -->
			<complexType name ="address">
				<sequence>
					<element name="street" type="xsd:string"/>
					<element name="city" type="xsd:string"/>
					<element name="postcode" type="xsd:string"/>
				</sequence>
			</complexType>

			<!-- create the object that stores the details of the contact -->

			<complexType name="contactDetail">
				<sequence>
					<element name="firstname" type="xsd:string"/>
					<element name="surname" type="xsd:string"/>
					<element name="phonenumber" type="xsd:string"/>
					<element name ="address" type="contact:address" />

				</sequence>
			</complexType>

			<!-- complex type for an array of contact details -->
			<complexType name="contactDetails">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="listOfContacts" type="contact:contactDetail"/>
				</sequence>
			</complexType>

			<element name="requestSingleContact" type="contact:contactDetail"/>
			<element name="contactResponse" type ="xsd:string"/>
			<element name="requestCity" type ="xsd:string"/>
			<element name="MultipleContacts" type="contact:contactDetails"/>

			<element name ="contactPhoneNumber" type="xsd:string"/>

			<element name="Error" type="xsd:string"/>


		</schema>
	</types>


	<!-- messages to handle the request and response to adding a contact-->
	<message name="addContactRequest">
		<part name ="contactRequest" element="contact:requestSingleContact"/>
	</message>

	<message name="addContactResponse">
		<part name ="contactResponse" element="contact:contactResponse"/>
	</message>

	<!-- messages to handle the request and response for edting a contact-->
	<message name="editContactRequest">
	
		<part  name="contactRequest" element="contact:requestSingleContact"/>
	</message>

	<message name="editContactResponse">
		<part  name="contactResponse" element="contact:requestSingleContact"/>
	</message>


	<!-- messages to handle the request and response for deleting a contact-->

	<message name="deleteContactRequest">
		<part  name="contactRequest" element="contact:contactPhoneNumber"/>
	</message>

	<message name="deleteContactResponse">
		<part  name="contactResponse" element="contact:contactResponse"/>
	</message>


	<!-- messages for requesting and responding to getting information about the contact -->

	<message name="getContactNumber">
		<part name="contactRequest" element="contact:contactPhoneNumber"/>
	</message>
	<message name="getContactNumberResponse">
		<part name="contactResponse" element="contact:requestSingleContact"/>
	</message>

	<!--message for getting a list of people based on city -->

	<message name="getCityRequest">
		<part name="contactRequest" element="contact:requestCity"/>

	</message>

	<message name="getCityResponse">
		<part name="contactResponsee" element="contact:MultipleContacts"/>

	</message>



	<!-- Message for handleing error messages -->


	<message name="errorFault">
		<part name="errorMessage" element="contact:Error"/>
	</message>


	<portType name="contactPort">

		<!-- Operation that will accept a city as user input from the client to search for all of the cities in the database that match the requested city 
		a list of all of the found cities will be returned to the user if any cities are found in the database if no city is found 
		an error will be returned instead -->
		<operation name="getByCity">
			<input message="contact:getCityRequest"></input>
			<output message="contact:getCityResponse"></output>
			<fault name ="Error" message ="contact:errorFault"/>

		</operation>


		<!-- Operation that will accept a phone number as user input from the client to search for a matching phone number if a matching phone number is found
		the contact details of that person will be returned if no matching phone number is found an error message is returned -->
		<operation name="getByPhoneNumber">
			<input message="contact:getContactNumber"></input>

			<output message="contact:getContactNumberResponse"></output>
			<fault name ="Error" message ="contact:errorFault"/>

		</operation>

		<!-- Operation that handles the action of adding a new contact information to the database it takes in the contact details to use from the client 
		if the information is validated a message is returned confirming to the user that the contact was added if the information is invalid
		an error message is returned  -->

		<operation name="addContact">
			<input message="contact:addContactRequest"></input>

			<output message="contact:addContactResponse"></output>
			<fault name ="Error" message ="contact:errorFault"/>
		</operation>

		<!-- Operation that handles the action of editing contact information the phone number and the details that the contact information is to be changed to is sent
		from the client if a matching phone number is found and the new information is valid the contact is updated if invalid information is used an error message is returned -->
		<operation name="editContact">
			<input message="contact:editContactRequest"></input>

			<output message="contact:editContactResponse"></output>
			<fault name ="Error" message ="contact:errorFault"/>
		</operation>

		<!-- Operation that handles the action of deleting a persons contact information it works by accepting a persons phone number from the client
		and will search the database for that phone number if a matching phone number is found the contact information for that person is removed from the database
		if no matching phone number is found an error message is returned instead -->

		<operation name="deleteContact">
			<input message="contact:deleteContactRequest"></input>

			<output message="contact:deleteContactResponse"></output>
			<fault name ="Error" message ="contact:errorFault"/>
		</operation>


	</portType>



	<binding name="contactBinding" type="contact:contactPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


		<operation name="getByCity">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</output>
			<fault name ="Error">
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>

			</fault>
		</operation>



		<operation name="getByPhoneNumber">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</output>
			<fault name ="Error">
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>

			</fault>
		</operation>


		<operation name="addContact">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</output>
			<fault name ="Error">
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>

			</fault>
		</operation>


		<operation name="editContact">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</output>
			<fault name ="Error">
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>

			</fault>
		</operation>


		<operation name="deleteContact">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>
			</output>
			<fault name ="Error">
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Contact"/>

			</fault>
		</operation>

	</binding>


	<service name="ContactService">
		<port name="ContactAccess" binding="contact:contactBinding">
			<soap:address location="http://127.0.0.1:8080/axis2/services/ContactService"/>
		</port>
	</service>
</definitions>